@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
html,
body {
    background: #bbbfc2;
    font-family: 'Open Sans', sans-serif;
}

* {
    text-decoration: none;
    list-style: none;
}

p,
ul,
li {
    margin: 0;
    padding: 0;
}

#container > .row {
    background: #ffe;
}

#header {
    position: relative;
    padding: 0;
}

#header > .bg-image {
    position: relative;
    padding: 0;
}

img {
    width: 100%;
}

#header .bg-text {
    position: absolute;
    right: 70px;
    top: 50px;
    height: 100%;
    text-align: right;
    color: #fff;
}

.bg-text h4 {
    color: #fff;
    font-size: 32px;
    font-weight: lighter !important;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.bg-text h3 {
    color: #fff;
    font-size: 50px;
    padding: 0;
    margin: 0;
    line-height: 48px;
}

#content {}

.blank-space {
    height: 60px;
}

.navigation {
    background: #ebeced;
    background: -webkit-linear-gradient(left, #ebeced, #d1d5d6);
    background: -o-linear-gradient(right, #ebeced, #d1d5d6);
    background: -moz-linear-gradient(right, #ebeced, #d1d5d6);
    background: linear-gradient(to right, #ebeced, #d1d5d6);
    padding: 0;
}

i img {
    position: relative;
    width: 25px;
    top: -2px;
    margin-left: 24px;
}

.baby-nav li {
    padding: 0px;
    line-height: 60px;
    font-size: 18px;
    color: #9ba0a4;
    text-align: right;
    padding-right: 24px;
    border-bottom: 1px solid #ffe;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
}

.baby-nav li a {
    padding: 0px;
    line-height: 60px;
    font-size: 18px;
    color: #9ba0a4;
    text-align: right;
}

.baby-nav li::active > a {
    font-family: 'Source Sans Pro', sans-serif;
    color: #36abe1;
    font-weight: 600;
}

.active {
    font-family: 'Source Sans Pro', sans-serif;
    color: #36abe1;
    font-weight: bold;
    background: #ffe;
}

.active > a {
    font-family: 'Source Sans Pro', sans-serif;
    color: #36abe1;
    font-weight: bold;
}

.pg-content {
    padding-left: 70px;
}